@import "styles/mixins.scss";

.card {
    margin-bottom: 20px;
}

.list {
    width: 50vw;
    padding: 0 30px;
    margin: 0 auto;
}

.empty {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

